bitsandbytes==0.46.0
cmake==3.25.0
colorama==0.4.6
datasets==2.14.7
gym-super-mario-bros==7.4.0
lit==18.1.8
lz4==4.4.4
matplotlib==3.10.3
moviepy==1.0.3
opencv-python==4.11.0.86
peft==0.13.2
pip==25.1.1
pygame==2.6.1
scipy==1.15.3
tensorboard==2.19.0
torchaudio==2.7.1
torchrl==0.8.1
torchvision==0.22.1
wandb==0.20.1
